﻿<div class="jumbotron">
    <h1>Cybertron</h1>
    <p class="lead">Hey! Wanna watch a group of Transformers slug it out? Click Simulate to get started </p>

    <p><a href="/swagger/ui/index" class="btn btn-success btn-lg">Simulate &raquo;</a></p>
</div>

